# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
venv/

# VS Code
.vscode/*

# Custom files
**.yaml
!example.yaml

# Folders
cookies/*
logs/*
analytics/*